---
---

@charset "utf-8";

@import "so-simple/functions";
@import "so-simple/variables";
@import "so-simple/notices";
@import "so-simple/skin";

/* Custom Med-CORDEX overrides */
h1.page-title, h1 {
  color: #1a4d6e !important;
}
h2 {
  color: #217a9b !important;
}
a {
  color: #0077cc !important;
  text-decoration: none !important;
  transition: color 0.2s;
}
a:visited {
  color: #0077cc !important;
}
a:hover, a:focus {
  color: #ff9900 !important;
  text-decoration: underline !important;
}
